services:
  web:
    build:
      context: .
      args:
        # Use database URL for build process (if needed)
        DATABASE_URL: postgres://postgres:password@db:5432/allocine
    ports:
      - "8080:80"
    environment:
      - DATABASE_URL=postgres://postgres:password@db:5432/allocine
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: allocine
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
